Datapack/data/xml/schema/location.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://la2j.org"
           xmlns="http://la2j.org"
           elementFormDefault="qualified">

    <xs:complexType name="LocationList">
        <xs:sequence>
            <xs:element name="location" type="Location" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Location">
        <xs:attribute name="x" type="xs:int" default="0"/>
        <xs:attribute name="y" type="xs:int" default="0"/>
        <xs:attribute name="z" type="xs:int" default="0"/>
    </xs:complexType>

</xs:schema>